@model List<CorsoViewModel>

<h1>Lista dei Corsi</h1>
<a class="btn btn-primary" asp-controller="Corsi" asp-action="Create" type="button">Inserisci nuovo corso</a>
<a class="btn btn-primary" asp-controller="Corsi" asp-action="Edit" type="button">Modifica</a>


<table class="table table-hover table-bordered table table-striped">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Nome</th>
            @*<th>Descrizione</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CodiceCorso</td>
                <td>@item.Nome</td>
                @*<td>@item.Descrizione</td>*@
                <th>
                    <a asp-controller="Corsi" asp-action="Details" asp-route-id="@item.CodiceCorso" class="btn btn-primary">Visualizza Dettagli</a>
                </th>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Totale</th>
            <th>@Model.Count</th>
            @*<th></th>*@
            <th></th>
        </tr>

    </tfoot>


</table>