@model StudenteViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cognome</th>
            <th scope="col">Data Nascita</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Titolo Studio</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Nome</td>
            <td>@Model.Cognome</td>
            <td>@Model.DataNascita</td>
            <td>@Model.Email</td>
            <td>@Model.Titolo</td>
        </tr>
    </tbody>
</table>